{% extends 'base.jinja2' %}

{% block subtitle %} Select donor {% endblock %}

{% block content %}
<form method="GET">
  {% if error %}
      <div class="page-header"><h1>Donor {{selected_donor}} not found: {{ error }}</h1></div>
  {% endif %}

  <label for="selected_donor">Selected donor: </label><input type="text" id="selected_donor" name="selected_donor">
  <input type="submit" value="retrive donations">

</form>
{% endblock content %}

