{% extends 'base.jinja2' %}

{% block subtitle %}Selected donor: {{ text }} | total records found: {{ counts }} {% endblock subtitle %}

{% block content %}
<ul>
    
    {% for key, value in selection %}
        <li><b>{{ key }}</b>: {{ value }}</li>
    {% endfor %}
 
</ul>
{% endblock %}

